@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Poppins:wght@300;400;600;700&display=swap');* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.hero {
  padding-top: 100px;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: white;
  transition: background 0.4s ease, color 0.4s ease;
}

body.light {
  background: #f4f4f4;
  color: #111;
}

.section {
  padding: 120px 10%;
  max-width: 1300px;
  margin: auto;
}